<% include ./partials/header%>

<div class="ui main text container">
    <div class="ui huge header">RESTfuk Blog</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% blog.forEach(function(blogpost){ %>
            <div class="item">
                <div class="image">
                    <img src = "<%= blogpost.image %>">
                </div>
                <div class="content">
                    <a href="/blog/<%= blogpost._id %>"><%= blogpost.title %></a>
                
                    <div class="meta">
                        <span><%= blogpost.created.toDateString() %></span>
                    </div>
                    
                    <div class="description">
                        <p><%- blogpost.body.substring(0,100) %> ..... </p>
                    </div>
                    
                    <div class="extra">
                        <a class="ui floated basic violet button" href="/blog/<%= blogpost._id %>">
                            Read More
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </div>
                
                <!--<span> <%= blogpost.created %></span>-->

            </div>
        
            <% }); %>
        </div>
    </div>
</div>




<% include ./partials/footer%>